.jwc_frame {
	left:70px;
	right:70px;
}
.jwc_image {
	cursor:move;
} .jwc_controls {
	background-color:#000;
	width:80%; height:26px;
	opacity:0.6; filter:alpha(opacity=6);
	position:absolute; z-index:100; bottom:8em; left:1.8em;
} .jwc_controls span {
	display:block;
	color:#FFF; font-size:10px;
	margin:7px 0px 0px 5px;
} .jwc_vertical, .jwc_horizontal {
	display:block; background-color:#FFF;
	cursor:pointer;
	border-radius:100px;
	width:18px; height:18px;
	float:left; margin:4px 4px 0px 0px;
	text-decoration:none; text-align:center;
	font-size:16px; font-weight:bold; color:#000;
} .jwc_vertical::after {
	content:"|";
} .jwc_horizontal::after {
	content:"-";
}

#UIPopupAvatarUploader{
width:400px;
margin-left:auto;
margin-right:auto;
}
